.pie {
    position: absolute;
    height: calc( var(--size, 108) * 1px );
    width: calc( var(--size, 108) * 1px );
    background: red;
    border-radius: 100%;
    overflow: hidden;
}

.pie-segment {
    --a: calc( var(--over50, 0) * -100% );
    --b: calc( ( 1 + var(--over50, 0) ) * 100% );
    --degrees: calc( (var(--offset, 0) / 100) * 360 );
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg) rotate( calc( var(--degrees) * 1deg ) );
    transform-origin: 50% 100%;
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    transition: all 0.3s ease-in-out;
}

.pie-segment:before {
    --degrees: calc( (var(--value, 45) / 100) * 360 );

    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    
    background: var(--bg, white);
    transform: translate(0, 100%) rotate( calc( var(--degrees) * 1deg ) );
    transform-origin: 50% 0%;
}

.pie-segment:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: var(--over50, 0);
    background: var(--bg, white);
}